*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  -webkit-tap-highlight-color: transparent;
}

button {
  font-family: inherit;
  user-select: none;
}

label {
  user-select: none;
}
